# Node/Bun caches
node_modules
.bun
.bun-cache
.bun-install-cache
.cache

# Angular build output
dist
.angular
coverage

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*

# VCS / IDE / OS
.git
.github
.husky
.vscode
.idea
.DS_Store
Thumbs.db

# Tests
**/__tests__/
**/*.spec.ts
**/*.spec.js
**/*.e2e-spec.ts
**/*.snap

# Temp / divers
tmp
temp
npm-packages-offline-cache

# Conserver les fichiers Docker et la lib locale
!docker/**
!projects/shared/**
