# Node/Bun caches
node_modules
.bun
.bun-cache
.bun-install-cache
.cache

# Angular build output
dist
.angular
coverage

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files (gardez un .env.example si besoin)
.env
.env.*

# VCS / IDE / OS
.git
.github
.husky
.vscode
.idea
.DS_Store
Thumbs.db

# Tests (si non nécessaires au build)
**/__tests__/
**/*.spec.ts
**/*.spec.js
**/*.e2e-spec.ts
**/*.snap

# Temp / divers
tmp
temp
npm-packages-offline-cache

# S’assurer que ces fichiers restent inclus
!Dockerfile.front
!nginx.conf

# Conserver la lib locale utilisée via "file:"
!projects/shared/**
