<div class="container">
  <div class="row h-14">
    <div class="col relative">
      <h1 class="ms-20 mt-4 inline-block">{{ appName() }} Dashboard</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-end">
      <nav>
        <a pButton routerLink="issues" class="me-2" text="true">
          <i class="pi pi-comment"></i>
          Mes tickets
        </a>
        <a pButton routerLink="chats" class="me-2" text="true">
          <i class="pi pi-file-edit"></i>
          Échanges avec le support
        </a>
      </nav>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <h3>Vous recontrez des problèmes ?</h3>
      <span>Vous pouvez joindre notre support par différents moyens&nbsp;:</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 md:col-6">
      <p class="m-2">
        <span class="block font-bold">Par chat&nbsp;:</span>
        <span class="flex flex-col gap-2 ms-2">
          @for (businessHour of supportChatBusinessHours(); track businessHour.day) {
          <span class="badge bg-secondary">{{ businessHour.day }} de {{ businessHour.from }} à {{ businessHour.to
            }}</span>
          }
        </span>
      </p>
      <a pButton routerLink="chats" severity="info">
        <i class="pi pi-comments"></i>
        Faire un demande au support par chat
      </a>
    </div>
    <div class="col">
      <p class="m-2">
        <span class="block font-bold">Par téléphone&nbsp;:</span>
        <span class="flex flex-col gap-2 ms-2">
          @for (businessHour of supportPhoneBusinessHours(); track businessHour.day) {
          <span class="badge bg-secondary">{{ businessHour.day }} de {{ businessHour.from }} à {{ businessHour.to
            }}</span>
          }
        </span>
      </p>
      <a pButton [href]="`tel:${supportPhoneNumber()}`" text="true" severity="info">
        <i class="pi pi-phone"></i>
        Appeler le support
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="m-2">
        <span class="block font-bold">Par email&nbsp;:</span>
        <span class="flex flex-col gap-2 ms-2">
          <span class="badge bg-secondary">{{ supportEmail() }}</span>
        </span>
      </p>
      <a pButton [href]="`mailto:${supportEmail()}`" text="true" severity="contrast">
        <i class="pi pi-envelope"></i>
        Envoyer un email au support
      </a>
    </div>
  </div>
</div>
