<div class="msg" [class.self]="self">
  <div class="avatar">
    <p-avatar [label]="initials" [class]="{
      'bg-green-700': self,
      'bg-orange-700': !self,
      'text-stone-200': true
    }" shape="circle" size="large">
    </p-avatar>
  </div>
  <div class="bubble" [class.self-bubble]="self">
    <div class="text">{{ message.text }}</div>
    <div class="meta">
      <p-tag [value]="from.role" [severity]="from.isOperator ? 'info' : 'success'"></p-tag>
      <span class="time">{{ message.sentAt | date:'shortTime' }}</span>
    </div>
  </div>
</div>
