@import "@ycyw/styles";
@import "./vars.css";
@import "./titles.css";
@import "./fonts.css";
@import "primeicons/primeicons.css";

* {
  font-family: var(--font-default);
}

html,
body {
  shell-root {
    display: flex;
    height: 100%;
    min-height: 100dvh;
    flex-direction: column;
    margin: 0;

    > main {
      position: relative;
      flex-grow: 1;
      padding-top: var(--page-top-padding);

      > * {
        display: block;
        height: 100%;
      }

      > router-outlet {
        display: none;
      }
    }
  }
}

