@import url("tailwindcss");

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "tailwindcss-primeui";

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "tailwind-bootstrap-grid" {
  container_max_widths:
    'sm', '540px', 'md', '720px', 'lg', '960px', 'xl', '1140px', '2xl', '1320px';
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url("primeicons/primeicons.css");
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url("./vars.css");
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url("./titles.css");
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url("./fonts.css");


@layer plugins;

@layer plugins {
  /* stylelint-disable-next-line at-rule-no-unknown */
  @tailwind utilities;
}

* {
  font-family: var(--font-default);
}

html,
body {
  height: 100dvh;
  margin: 0;

  @apply bg-surface-0;

  @media (prefers-color-scheme: dark) {
    background-color: color-mix(in srgb, var(--p-surface-900) calc(100% * var(--tw-bg-opacity, 1)), transparent);
  }

  app-root {
    display: flex;
    height: 100%;
    min-height: 100dvh;
    flex-direction: column;
    margin: 0;

    > main {
      position: relative;
      flex-grow: 1;
      padding-top: var(--page-top-padding);

      > * {
        display: block;
        height: 100%;
      }

      > router-outlet {
        display: none;
      }
    }
  }
}
