@import "./../../../shared/src/styles/shared.css";
@import "./vars.css";
@import "./titles.css";
@import "./fonts.css";

* {
  font-family: var(--font-default);
}

html,
body {
  height: 100dvh;
  margin: 0;

  @apply bg-surface-0;

  @media (prefers-color-scheme: dark) {
    background-color: color-mix(in srgb, var(--p-surface-900) calc(100% * var(--tw-bg-opacity, 1)), transparent);
  }

  app-root {
    display: flex;
    height: 100%;
    min-height: 100dvh;
    flex-direction: column;
    margin: 0;

    > main {
      position: relative;
      flex-grow: 1;
      padding-top: var(--page-top-padding);

      > * {
        display: block;
        height: 100%;
      }

      > router-outlet {
        display: none;
      }
    }
  }
}

